  # Data type and Structure
1. What are data structures, and why are they important?
 * Data structures are used to organize and stored data efficently .They are important because using data structure we can modify,access and manipulate the data. Few examples are lists,tuple,sets .
2. Explain the difference between mutable and immutable data types with examples?
 * Mutable data are able to modify and update after it creation . i.e  Lists

   *   Immutable data cannot be modified or update after its creation. i.e  Tuple

3. What are the main differences between lists and tuples in Python?
 * Lists are mutable, while tuples are immutable.Lists are slower compared to tuples due to additional memory overhead.

 *  Tuples are more memory-efficient and can be used as dictionary keys.
4. Describe how dictionaries store data.
 * Dictionaries store data as key-value pairs.Internally, they use a hash table, mapping each key to a specific memory location for fast lookups.
5. Why might you use a set instead of a list in Python?
 * Sets automatically remove duplicate values.
They offer faster lookups (O(1) average time complexity vs. O(n) for lists).
They are useful for operations like unions, intersections, and differences.
6. What is a string in Python, and how is it different from a list?
 * A string is an immutable sequence of characters.
A list is mutable and can hold elements of different data types.
Example: s = "hello"; s[0] = "H"  (will show error, because strings are immutable).
7. How do tuples ensure data integrity in Python?
 * Because tuples are immutable, their values cannot be changed after creation, ensuring that data remains constant and preventing accidental modification.
8. What is a hash table, and how does it relate to dictionaries in Python?
 * A hash table is a data structure that maps keys to values using a hash function.
Python’s dict uses a hash table internally for fast lookups.
9. Can lists contain different data types in Python?
 * Yes, lists can  contain different data types.
10. Explain why strings are immutable in Python.
 * Strings are immutable for security, memory efficiency, and hashability (they can be used as dictionary keys).
Modifying a string creates a new one instead of altering the original.
11. What advantages do dictionaries offer over lists for certain tasks?
 * Faster lookups (O(1) for dictionaries vs. O(n) for lists).
Key-value mapping makes data retrieval more meaningful.
No need to search through indices like in a list.
12. Describe a scenario where using a tuple would be preferable over a list.
 * Storing coordinates (latitude, longitude) to ensure they remain unchanged.
Using a tuple as a dictionary key.
13. How do sets handle duplicate values in Python?
 * Sets automatically remove duplicates when elements are added.
14. How does the “in” keyword work differently for lists and dictionaries?
 * For lists, in checks if an element exists (O(n)).
For dictionaries, in checks keys only (O(1)).

          my_dict = {"name": "Alice"}
          "name" in my_dict  # True
          "Alice" in my_dict  # False
15. Can you modify the elements of a tuple? Explain why or why not.
 * No, because tuples are immutable.
However, if a tuple contains a mutable object (e.g., a list), that object can be modified.
16. What is a nested dictionary, and give an example of its use case?
 * A nested dictionary is a dictionary inside another dictionary.
Example:
          students = {
              "Alice": {"age": 20, "grade": "A"},
              "Bob": {"age": 22, "grade": "B"}
          }
          print(students["Alice"]["grade"])  # Output: A
17. Describe the time complexity of accessing elements in a dictionary.
 * Dictionary lookups are O(1) on average due to hash table usage.
18. In what situations are lists preferred over dictionaries?
 * When order matters (lists maintain insertion order).
When storing simple sequences without needing key-value pairs.
When elements need to be accessed by index rather than key.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 * Before Python 3.7, dictionaries were unordered, meaning insertion order was not preserved.
Now, they maintain order, but the keys are still hashed, so lookups are based on keys, not positions.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 * Lists: Retrieve data by index (O(1)).
Dictionaries: Retrieve data by key (O(1)).
Lists are better for ordered sequences, while dictionaries are better for fast lookups.

In [23]:
# Q1. Write a code to create a string with your name and print it.
name="Harsh Parihar"
print(name)

Harsh Parihar

In [22]:
#Q2. Write a code to find the length of the string "Hello World"
A="Hello World"
print(len(A))

11

In [21]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"
A="Python Programming"
print(A[0:3])

Pyt

In [1]:
#Q4. Write a code to convert the string "hello" to uppercase
A="hello"
print(A.upper())

HELLO

In [3]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
WORD="I like apple"
print(WORD.replace("apple","orange"))

I like orange

In [4]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it
A=[1,2,3,4,5]
print(A)

[1, 2, 3, 4, 5]

In [5]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
A=[1,2,3,4]
A.append(10)
print(A)

[1, 2, 3, 4, 10]

In [6]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
A=[1,2,3,4,5]
A.remove(3)
print(A)

[1, 2, 4, 5]

In [7]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
A=['a','b','c','d']
print(A[1])

b

In [8]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
A=[10,20,30,40,50]
print(A[::-1])

[50, 40, 30, 20, 10]

In [9]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it
A=(100,200,300)
print(A)

(100, 200, 300)

In [10]:
#Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
A=('red','green','blue','yellow')
print(A[-2])

blue

In [11]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
A=(10,20,5,15)
print(min(A))

5

In [12]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
A=('dog','cat','rabbit')
print(A.index('cat'))

1

In [13]:
#Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
A=("apple","banana","kiwi")
print("kiwi" in A)

True

In [18]:
#Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
A={'a','b','c'}
print(A)

{'b', 'c', 'a'}

In [24]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
A={1,2,3,4,5}
A.clear()
print(A)

set()

In [25]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
A={1,2,3,4}
A.remove(4)
print(A)

{1, 2, 3}

In [27]:
#Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A={1,2,3}
B={3,4,5}
print(A.union(B))

{1, 2, 3, 4, 5}

In [29]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
A={1,2,3}
B={2,3,4}
print(A.intersection(B))

{2, 3}

In [30]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
A={"name":"Harsh","age":21,"city":"SURAT"}
print(A)

{'name': 'Harsh', 'age': 21, 'city': 'SURAT'}

In [31]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
A={'name': 'John', 'age': 25}
A["country"]="USA"
print(A)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
MY_DICT={'name': 'Alice', 'age': 30}
print(MY_DICT["name"])

Alice

In [33]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
diction={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(diction.pop("age"))

22

In [34]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict={'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

In [35]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"name": "Alice", "age": 25}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'name': 'Alice', 'age': 25}

In [58]:
'''Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[5, 21, 28, 55, 91]

In [62]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [60]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [61]:
#Q30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}